* {
    margin: 0;
    padding: 0;
@include box-sizing(border-box);
}
@font-face {
    font-family: Merriweather;
    src: url("../res/fonts/Merriweather/__Merriweather-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}
body {
    background-image: url("../res/backgrounds/background-1.png");
}
.slider__container {
    border: 2px solid #10a100;
    border-radius: 10px;
    width: 40em;
    height: 22em;
    margin: 1.5em auto;
    overflow: hidden;
    background: white;
}
.slider img {
    float: left;
    max-width: 100%;
    min-height: 20em;
}
button{
    background-color: white;
    border-radius: 4px;
    border: 2px solid #10a100;
    outline: none;
    letter-spacing: .08em;
    cursor: pointer;
    padding: 6px 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
button {
    color: #10a100;
    text-decoration: none;
    font-family: Merriweather, sans-serif;
}