* {
    margin: 0;
    padding: 0;
@include box-sizing(border-box);
}
body {
    background: url("../res/backgrounds/background-1.png");
}
.slider__container {
    border: 2px solid #10a100;
    border-radius: 10px;
    width: 40em;
    height: 25em;
    margin: 1.5em auto;
    overflow: hidden;
    background: white;
}
.slider img {
    float: left;
    max-width: 100%;
    height: auto;
    border-radius:1%;

}
