* {
  margin: 0;
  padding: 0;
}

body {
    overflow: hidden;
  background-image: url("../res/backgrounds/c_bg_0002.png");
}

canvas {
  display:block;
}

p, a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #777;
  display: block;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-decoration:none;
}

.info {
  margin:14px auto;
  text-align: justify;
  font-size: 18px;
  color: #999;
}

a {
  color:#3377ee;
}